@model AspNetCoreDapper.Models.Fleet

@{
    ViewBag.Title = "Details";

    var listFleets = ViewBag.ListFleets as SelectList;
    var fleetSelected = listFleets.Where(x => x.Selected).FirstOrDefault();    
}

<h2>Consultar</h2>

<div>
    <h4>Frota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
</div>
<p>
    @if(Model.Code != fleetSelected?.Value){
        @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) @Html.Encode(" |")
    }
    
    @Html.ActionLink("Voltar", "Index")
</p>
